:root {
    --django-color: hsla(157, 72%, 17%, 1);
    --django-color2: hsla(157, 72%, 13%, 1);
    --django-color-hover: hsla(157, 72%, 30%, 1);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    --font-color: black;
    --debug-borders: solid white 2px;
    height: 100%;
}

body {
    background-color: var(--django-color);
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--django-color2);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    overflow: hidden;
    position: fixed;
}


ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

li {
    margin: .5em;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: var(--django-color-hover);
}

.post-container {
    border: 3px solid var(--django-color);
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin: 0 0 50px;
    /*flex: 1 0 auto;*/
}

.main-header {
    text-align: center;
    padding: 125px 25px;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
}

.main-header p {
    max-width: 70%;
    margin: auto;
}

.blog-title {
    font-weight: bold;
    font-size: 25px;
    margin-right: 30px;
}

.post-title {
    color: black;
}

button:hover {
    cursor: pointer;
}

.button-green, .button-white {
    color: white;
    border-radius: 20px;
    padding: 5px;
    width: 90px;
    text-align: center;
    font-size: 15px;
}

.button-green {
    background: var(--django-color);
    border: solid transparent 2px;
}

.button-white {
    background: white;
    border: solid white 2px;
    color: var(--django-color);
}

.button-green:hover {
    color: var(--django-color);
    background: white;
    border: solid var(--django-color) 2px;
}

.button-white:hover {
    background: var(--django-color-hover);
    color: white;
    border: solid transparent 2px;
}

.post-detail {
    background-color: white;
    margin: auto auto 10px;
    padding: 10px;
    width: 100%;
}

.input {
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin: 10px auto 10px;
}

.input:focus {
    outline: none;
}

.paginator {
    display: flex;
    color: black;
    justify-content: space-between;
    margin-bottom: 50px;
}

.paginate-button {
    font-size: 15px;
    color: var(--django-color);
    padding: 20px;
    background: white;
    border: solid transparent 2px;
    border-radius: 20px;
}

.footer {
    background-color: var(--django-color2);
    flex-shrink: 0;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
    font-size: 14px;
}

.label {
    font-size: 20px;
}

.post-detail-title, #button-update, #button-delete {
    display: inline-block;
    margin-right: 1em;
}

.post-detail-first-line {
    display: flex;
    align-items: center;
}

.date-author {
    padding: 0 20px 0 0;
    color: var(--django-color);
    font-weight: bold;
}

.comment {
    padding: 10px;
    margin-top: 10px;
    background: white;
    color: black;
}

.no-comments {
    color: white;
}

.post-comment, .post-form {
    color: white;
}

.new-comment {
    color: white;
}

.comment-author {
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}

.comment-date {
    color: grey;
    font-size: 12px;
}

.search-results {
    display: flex;
    flex-direction: column;
    color: black;
}

.search-form {
    margin-top: 100px;
    color: white;
}

.search-result-link {
    color: black;
    margin-right: 10px;
}

.search-result {
    background: white;
    width: 100%;
    padding: 10px;
}

span {
    display: inline-block;
}