{% load static %}
{% load bulma_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
          integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />

    <title>Lukasz Kozera - Blog</title>
    {{ form.media }}
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/atom-one-light.min.css">
</head>
<body>
<header class="navbar">
    <ul class="left">
        <li class="blog-title">My Personal Blog</li>
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="https://github.com/Frohus" target="_blank" rel="noopener"><i class="fab fa-github"></i></a></li>
        <li><i class="far fa-envelope"></i></li>
        <li><a href="https://www.linkedin.com/in/lukasz-kozera/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin"></i></a></li>
    </ul>
{% if user.is_authenticated %}
    <ul class="right">
        <li>
            <a class="new-post" href="{% url 'new-post' %}">New Post</a>
        </li>
    </ul>
{% endif %}
</header>
<div class="main-container">
{% block content %}{% endblock %}
</div>
<footer>
    <div class="copyright">
        <p>© 2019 - Lukasz Kozera</p>
    </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>