{% extends 'blog/base.html' %}
{% block content %}
<header class="main-header">
    <h1>Django powered blog for portfolio purposes.</h1>
    <p>A simple blog that allowing to add new posts, view them in detail, update and delete them.
        If you want to leave a comment please feel free to do so.</p>
</header>
{% for post in posts %}
    <div class="post-container">
    <h1><a class="post-title" href="{% url 'post-detail' post.id %}">{{ post.title|title }}</a></h1>
    <p><i class="fas fa-calendar-alt"></i> {{ post.date_posted|date:"j F, Y" }}</p>
    <p>{{ post.clean_body|safe }}</p>
        <hr>
    {% if post.approved_comments.count == 0 %}
        <p><i class="far fa-comments"></i> No comments yet</p>
    {% elif post.approved_comments.count == 1 %}
        <p><i class="far fa-comments"></i> {{ post.approved_comments.count }} comment</p>
    {% else %}
        <p><i class="far fa-comments"></i> {{ post.approved_comments.count }} comments</p>
    {% endif %}
    </div>
{% endfor %}
{% if is_paginated %}
    <div class="paginator">
        {% if page_obj.has_previous %}
            <a class="paginate-button" href="?page={{ page_obj.previous_page_number }}">Newer posts</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="paginate-button" href="?page={{ page_obj.next_page_number }}">Older posts</a>
        {% endif %}
    </div>
{% endif %}

{% endblock %}