{% extends 'blog/base.html' %}
{% block content %}
    <div class="post-detail">
        <div class="post-detail-first-line">
        <h1 class="post-detail-title">{{ object.title|title }}</h1>
        {% if object.author == user %}
            <a class="button-green" id="button-update" href="{% url 'post-update' object.id %}">Update</a>
            <a class="button-green" id="button-delete" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
        </div>
        <span class="date-author">{{ object.date_posted|date:"j F, Y" }}</span>
        <span class="date-author"> {{ object.author }}</span>
        <p>{{ object.content|safe }}</p>
    </div>
    <a class="button-white" href="{% url 'add_comment_to_post' post.id %}">Comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <p class="comment-author">{{ comment.author }}</p>
            <span class="comment-date">{{ comment.created_date|date:"j F, Y G:i" }}</span>
            <div>
                {% if not comment.approved_comment %}
                    <a class="button-green" href="{% url 'comment-remove' pk=comment.pk %}">Remove</a>
                    <a class="button-green" href="{% url 'comment-approve' pk=comment.pk %}">Approve</a>
                {% endif %}
            </div>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p class="no-comments">Nobody commented yet.</p>
    {% endfor %}
{% endblock %}